<table>
	<form method="get" action="/quizes" >
		<input type="text" name="search" placeholder="Texto a buscar..." />
		<input type="submit" value="Buscar" />
	</form>
	<tbody>
		<% var i=0; for(i=0; i<quizes.length; i++) { %>
			<tr>
				<td>
					<a href="quizes/<%= quizes[i].id %>"> <%= quizes[i].pregunta %> </a>
				</td>
				<td>
					<a href="quizes/<%= quizes[i].id %>/edit"> <button>editar</button></a>
				</td>
			</tr>
		<% } %>
		<% if(quizes.length == 0) { %>
			<tr>
				<td>
					<p>No existe ninguna pregunta para los criterios de búsqueda especificados</p>
				</td>
			</tr>
		<%}%>
	</tbody>
</table>
<a href="quizes/new"><button type="button">Crear pregunta</button></a>